* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #676767;
}

input {
  font-size: 1em;
  padding: 10px;
  width: calc(100% - 60%);
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.header {
  padding: 5px 50px;
  text-align: left;
  background: #1e73aa;
  color: #fff;
  border-bottom:1px solid #0d466d;
}
.header h3 {
  font-size: 1.6em;
  line-height: 0.5em;
}

.content {
  margin: 10px 50px
}
.content .content-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content .content-header .page-title {
  font-size: 1.4em;
}

.row {
  margin: 0 -10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}
/* Responsive columns */
@media (min-width: 680px) and (max-width: 980px) {
  .column {
    width: 50%;
  }
}
@media (min-width: 980px) and (max-width: 1260px) {
  .column {
    width: 33.33%;
  }
} 
@media (min-width: 200px) and (max-width: 680px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0px 1px 2px 1px rgba(97, 97, 97, 0.4);
  padding: 10px;
  text-align: left;
  background-color: #fcfcfc;
}
.card h3 {
  font-size: 16px;
  margin: 0 5px 0  0;
}
.card p {
  font-size: 12px;
  margin:0;
}
.card .avatar {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  border-radius: 50%;
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}
.card .user {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.card .more-details {
  margin-top:10px;
  text-align: left;
}
.card:hover {
  background-color: #f3f3f3;
}
.card-header {
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
}